/Chapter3/Roulette/Library
/Chapter3/Roulette/obj/Debug
/Chapter3/Roulette/.vs/Roulette/v14
/Chapter3/Roulette/.vs/Roulette/v15
/Chapter3/Roulette/.vs/Roulette/DesignTimeBuild
/Chapter3/Roulette/.vscode
/Chapter4/SwipeCar/.vs/SwipeCar/v14
/Chapter4/SwipeCar/.vs/SwipeCar/v15
/Chapter6/ClimbCloud/Library
/Chapter6/ClimbCloud/.vs/ClimbCloud/v14
/Chapter5/CatEscape/Library
/Chapter5/CatEscape/.vs/CatEscape/v15
/Chapter4/SwipeCar/Library
/Chapter6/ClimbCloud/Temp
/Chapter6/ClimbCloud/.vs/ClimbCloud/DesignTimeBuild
/Chapter6/ClimbCloud/.vs/ClimbCloud/v15
